# RStudio files
.Rproj.user
.Rhistory
.RData
.Ruserdata

# Data folders (excluded from version control)
Data/raw/
Data/processed/
Data/cleaned/

# Temporary or backup files
*.tmp
*.bak
~$*

# Excel exports
*.xlsx
*.docx

# Notebooks
Scripts/03_InventoryData_Process.R

# OS files
.DS_Store
Thumbs.db